.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container h1{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-bottom-color: #1a1a1a;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.chartContainer{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.description {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.description p{
    margin: auto;
}

.ticketsTable{
    background-color: rgb(246, 239, 239);
    border: solid rgba(255, 255, 255, 0.25) 0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(12px);
    border-radius: 20px;
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.tableRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.tableRow p{
    margin: auto;
    font-size: large;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    border-bottom-color: #1a1a1a;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.header button{
    margin-right: 0;
    margin-left: auto;
}