.filters-container{
    display: flex; 
    align-items: center;
    justify-content: center; 
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
    height: 10vh;
    width: 75vw; 
    margin: 0 auto; 
    margin-top: 30px ;
    margin-bottom: 30px;
    border-radius: 5px;
}

.filters-container input,
.filters-container select{
    height: 8vh;
    background-color: white;
    color: black;
}

.date-filter{
    padding: 1%; 
    border-radius: 0%;
    border-width: 0;
    border-right-color: grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width:20%;
}
.search-filter {
    padding: 1%; 
    border-radius: 0%;
    border-width: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: solid;
    width:50%;
    border-left-color: grey;
    border-left-width: 1px; 
}
.organization-filter{
    padding: 1%; 
    border-radius: 0%;
    border-width: 0;
    border-left-color: grey; 
    border-left-width: 1px; 
    width: 20%;
}

.date-filter::-webkit-calendar-picker-indicator {
    padding: 5px;
    border-radius: 3px; 
    color-scheme: white;
}

.event-list{
    display: flex;
    flex-wrap: wrap; 
}

.events-missing {
    font-size: xx-large;
    margin: 0 auto; 
    font-family: "Lucida Console";
    padding: 8%;
 

}