header{
    background-color: rgb(0, 94, 255);
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
}

th{
    text-align: left;
    color: white;
    font-size: larger;
}

table {
    border-collapse: collapse;
    width: 100%;

}


