header{
    background-color: rgb(0, 94, 255);
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    margin: 0 auto;
    margin-bottom: 0;
}

th{
    margin: 0 auto;
    color: white;
    font-size: larger;

}

.headerCenter {
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;

}


