.addEventForm{
    display: block;        /* makes width actually apply */
    width: 100%;
    max-width: 600px;      /* readable form width */
    margin: 0 auto; 
    background-color: red;
}
.inputStyle {
    all: unset;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(227, 228, 228);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 12px;
}

.inputStyle:hover{
    background-color: rgb(192, 192, 192);

}

.inputStyle:focus {
    background-color: rgb(0, 18, 60);
    color : white; 
}

.addEventImage{
    width: 100%;
    text-align: left;
    margin-bottom: 12px;
}