.inputStyle {
    all: unset;
    display: block;
    justify-content: center;
    width: 50vw;
    background-color: rgb(227, 228, 228);
    border: none;
    border-radius: 5px;
    text-align: left;
    padding: 1%;
    margin-bottom: 10px;
}

.inputStyle:hover{
    background-color: rgb(192, 192, 192);

}

.inputStyle:focus {
    background-color: rgb(0, 18, 60);
    color : white; 
}

.addEventImage{
    margin-bottom:10px;    
}