.addEventForm{
    display: flex;        /* makes width actually apply */
    flex-direction: column;
    width: 100%;
    max-width: 600px;      /* readable form width */
    margin: 0 auto; 
}
.inputStyle {
    display: flex;
    width: calc(100% - 20px);
    background-color: rgb(227, 228, 228);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 12px;
    text-align: left;
    border: none;
    
}

.inputStyle:hover{
    background-color: rgb(192, 192, 192);

}

.inputStyle:focus {
    background-color: rgb(0, 18, 60);
    color : white; 
}

.addEventImage{
    width: 100%;
    text-align: left;
    margin-bottom: 12px;
}