
.card{
    display: flex;
    justify-content: center;
    width: 40%;
    flex-direction: column;
    flex-wrap: wrap;  
    margin: 0 auto; 
    transition: 0.5s;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 1%; 
    background-color: rgb(222, 235, 255);
    border-radius: 5px;
}

.card:hover{
    margin-top: 25px;
    margin-bottom: 35px;
    background-color: #f2e9ff;
}

.card:hover .buttonsContainer{
    opacity: 1;
    visibility: visible;
    max-height: 50px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.card h4 {
    text-align: center;
    padding: 0 auto; 
    border-bottom-width: 1px;
    border-bottom-color: #000;
    margin-bottom: 0;
}

.card div {
    max-height: 0; 
    overflow:hidden;
    opacity: 0; 
    visibility: hidden;
}

.card:hover div{
    opacity: 1;
    visibility: visible;
    max-height: 100px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.card img {
    width: 100%;
    border-radius: 5px;
    margin: 0;
    padding: 0 auto;
    margin: 0 auto; 
}

.buttonsContainer{
    max-height: 0; 
    overflow:hidden;
    opacity: 0; 
    visibility: hidden;
    width: 100%;
    
}

.rightButton{
    float: right;
    color: white;
}

.card button{
    padding: 0 auto; 
    margin: 0 auto; 
    color: white;
}