

.container{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0.5px;
    border-color: #000;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 15%;
}

.container img{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 75px;
}