

.container{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;
    margin: 0 auto;
    padding: 2%;
    min-width: 200px;
}

.container img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.container a, p{
    margin: 0 auto;
}

.container p{
    margin-bottom: 15px;
    font-size: larger;
}