.organizationContainer {
    display: block;
    margin: 0 auto;
    background-color: white;
    margin-top: 30px;
    border: 2px solid blue;
    border-radius: 5px;
    width: 70vw;
    padding: 20px; /* cleaner spacing */
}

/* Label paragraphs */
.organizationContainer p {
    margin: 8px 0 4px 0; /* cleaner spacing */
    font-weight: 500;
    border: none;
    
}

/* Inputs / textarea styling */
.fieldStyle {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #999;
    box-sizing: border-box;
    background-color:rgb(227, 228, 228);
}

.organizationContainer input {
    border: none;
}

/* Makes textarea not tiny */
.organizationContainer textarea {
    min-height: 90px;
    resize: vertical;
    border: none;
}

.fieldStyle:hover{
    background-color: rgb(192, 192, 192);
}

.fieldStyle:focus{
    background-color: rgb(0, 18, 60);
    color : white; 
}

.orgSubmit {
    margin: 0 auto;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;

}

.orgClose {
    margin: 0 auto;
    background-color: #421c1cff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.buttonCenterAlign {
    display: flex;
    justify-content: center;

}