#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
    background: linear-gradient(#1584e4, #e83186);
    height: 100%;
    color: #000000;
}
/* the global page font*/
body, html {
   font-family: 'VT323', monospace;
   font-size: 16px;
   line-height: 1.3;
}