:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* the global page font*/
body, html {
   font-family: 'VT323', monospace;
   font-size: 16px;
   line-height: 1.3;
}
body{
  display: flex;
  justify-content: center;
  background: linear-gradient(#fafdff, #a5f0ff);
  overflow-x: hidden;
  color: #000000;
  
}

html,body {
  min-height: 100vh;
  width: 100vw;
  margin: 0; 
  padding: 0; 
}

