

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container h1{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-bottom-color: #1a1a1a;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.slider{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    border-style: solid;
    border-width: 5px;
    border-color: #1a1a1a;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 15px;
}
.slider span{
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.active{
    background-color: #1a1a1a;
    color: #fff;
}

.slider span:hover{
    text-decoration: underline;
}
.onEvents{
    width: 100vw;
    position: relative;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.offEvents{
    width: 100vw;
    position: relative;
    transition: 0.5s;
    top:0;
    left: -100vw;
    display: flex;
    flex-direction: column;
}


.onUsers{
    width: 100vw;
    position: relative;
    top:0;
    left: -100vw;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.offUsers{
    width: 100vw;
    position: relative;
    transition: 0.5s;
    top:0;
    left: +100vw;
    display: flex;
    flex-direction: column;
}

.bdsm{
    display: flex;
    flex-direction: row;
    width: 300vw;
}

.membersTable{
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 239, 239);
    border: solid rgba(255, 255, 255, 0.25) 0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(12px);
    border-radius: 20px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.membersTable:hover{
    margin-top: 45px;
}

.addMemberBtn{
    border-top-width: 1px;
    border-top-color: #1a1a1a;
    color: #1a1a1a;
    font-size: large;
    border-radius: 0 0 20px 20px;
    border-top-style: solid;
    background-color: rgb(246, 239, 239);
    transition: 0.5s;
}

.addMemberBtn:hover{
    background-color: rgb(0, 94, 255);
    color: #fff;
}

.membersTableHeader{
    display: flex;
    flex-direction: row;
    background-color: #1a1a1a;
    border-radius: 20px 20px 0 0;
    color: #fff;
}

.membersTableHeader span{
    font-size: x-large;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
