form {
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 10px rgb(169, 169, 169); 
}

label {
    padding: 10px;
}

.inputStyle {

    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    width:500px;
    color: black;
    border-style: hidden;

}

.inputStyle:hover {
    background-color: rgb(202, 210, 226);
}

.inputStyle:focus {
    outline: none;
    background-color: rgb(31, 41, 61);
    color: white;
}